* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.kotak-utama {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 2rem;
  padding: 1%;
  width: 95%;
  height: auto;
  background-color: #f7db6a;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
}

.kotak-profil {
  display: flex;
  flex-wrap: wrap;
  width: 60vh;
  height: auto;
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  transition: 1s;
}

.kotak-profil:hover {
  background-color: #dfff8d;
}

.profil {
  display: flex;
  flex-wrap: wrap;
}

.profil img {
  width: 18vh;
  margin: auto;
  border-radius: 10px;
}

.profil table {
  height: 10rem;
  margin: auto;
  margin-left: 2rem;
}

.profil table tr td span {
  font-weight: bold;
  padding-right: 1rem;
}

/* From Add */

.from-add {
  display: flexbox;
  position: fixed;
  z-index: 99;
  right: 1%;
  bottom: 2%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.from-add img {
  position: relative;
  width: 25vh;
  animation: goyang 3s infinite;
}

@keyframes goyang {
  10% {
    rotate: 20deg;
  }
  20% {
    rotate: -10deg;
  }
  30% {
    rotate: 0deg;
  }
}

.from-add div {
  position: fixed;
  width: 25vh;
  height: 9vh;
  background-color: rgb(67, 29, 0);
  border-radius: 100px;
  bottom: 2%;
}
